@{
    ViewBag.Title = "WebShop";
}
<div class="jumbotron">
    <h1>WebShop</h1>
    <p class="lead">
        A website with Product management using ASP.NET framework. Where you can save your information in a Persistent way (Persistent storage) or In-Memory storage
    </p>
    <p><a href="#" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>